.container{
    width: 500px;
    background-color: crimson;
    height: 600px;
    margin: 30px auto;
    text-align: center;
}
input{
    width: 90%;
    padding: 10px 0;
    /* margin-left: 20px; */
    margin-top: ;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
h1{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
#submit{
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;

}
h2{
    color: #FFf;
}