*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.swiper{
    width: 1000px;
}
.card-container{
  display: flex;
  gap: 20px;
}
.single-card-img{
    width: 100%;
}
.single-card-img img{
    width: 100%;
}